streamlit
google-generativeai
markdown

# When using RAG
langchain
langchain_community
langchain_google_genai
sentence-transformers
unstructured
chromadb

# When using the authentication
streamlit-authenticator
